@model TRAVEL_TRIP.Models.classes.Yorumlar
@{
    ViewBag.Title = "YorumGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="margin:20px">Yorum Güncelleme Sayfası</h4>
<br />
@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
{

    <h6>Yorum Id</h6>
    <div class="form-group row">
        <div class="col-8">
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <h6>Kullanıcı Adı</h6>
    <div class="form-group row">
        <div class="col-8">
            @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control", Style = "background:#44BDF0; color:white; font-size:medium ", PlaceHolder = " Blog başlığı giriniz..." })
        </div>
    </div>
    <br />
    <h6>Mail Adresi</h6>
    <div class="form-group row">
        <div class="col-8">
            @Html.TextBoxFor(x => x.MAIL, new { @class = "form-control", Style = "background:#44BDF0; color:white; font-size:medium ", PlaceHolder = " Blog tarihi giriniz..." })
            @*<input class="form-control" style="background:#44BDF0; color:white; font-size:medium " type="date" id="example-datetime-local-input">*@
        </div>
    </div>
    <br />
    <h6>Yorum</h6>
    @Html.TextAreaFor(x => x.YORUM, new { @class = "form-control", Style = "background:#44BDF0; color:white; font-size:medium", PlaceHolder = " Blog açıklaması giriniz..." })

    <br />
    <button href="/Admin/YorumGuncelle" class="btn btn-success ">YORUMU GÜNCELLE</button>
}

